@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .section-min-height {
    min-height: calc(100vh - 80px);
  }
  .res-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(204px, 1fr));
    gap: 1rem;
  }
}
